## Association Rule Mining Using Apriori Algorithm

In [1]:
pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.23.1-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: scipy>=1.2.1 in /home/codespace/.local/lib/python3.10/site-packages (from mlxtend) (1.13.0)
Requirement already satisfied: numpy>=1.16.2 in /home/codespace/.local/lib/python3.10/site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in /home/codespace/.local/lib/python3.10/site-packages (from mlxtend) (2.2.1)
Requirement already satisfied: scikit-learn>=1.0.2 in /home/codespace/.local/lib/python3.10/site-packages (from mlxtend) (1.4.1.post1)
Requirement already satisfied: matplotlib>=3.0.0 in /home/codespace/.local/lib/python3.10/site-packages (from mlxtend) (3.8.3)
Requirement already satisfied: joblib>=0.13.2 in /home/codespace/.local/lib/python3.10/site-packages (from mlxtend) (1.3.2)
Requirement already satisfied: contourpy>=1.0.1 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (4.50.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (24.0)
Requirement already satisfied: pillow>=8 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.10/site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/codespace/.local/lib/python3.10/site-packages (from scikit-learn>=1.0.2->mlxtend) (3.4.0)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Downloading mlxtend-0.23.1-py3-none-any.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 24.8 MB/s eta 0:00:00:00:01
Installing collected packages: mlxtend
Successfully installed mlxtend-0.23.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [3]:
data = pd.read_csv('/workspaces/python-for-data-science-and-machine-learning-essential-training-part-2-3016934/data/groceries.csv')

In [4]:
data.head()

                  1                    2               3  ...    7    8    9
0      citrus fruit  semi-finished bread       margarine  ...  NaN  NaN  NaN
1    tropical fruit               yogurt          coffee  ...  NaN  NaN  NaN
2        whole milk                  NaN             NaN  ...  NaN  NaN  NaN
3         pip fruit               yogurt   cream cheese   ...  NaN  NaN  NaN
4  other vegetables           whole milk  condensed milk  ...  NaN  NaN  NaN

[5 rows x 9 columns]

In [5]:
baskets_sets = data.stack().str.get_dummies().groupby(level=0).sum()

In [6]:
baskets_sets.head()

   Instant food products  UHT-milk  ...  yogurt  zwieback
0                      0         0  ...       0         0
1                      0         0  ...       1         0
2                      0         0  ...       0         0
3                      0         0  ...       1         0
4                      0         0  ...       0         0

[5 rows x 165 columns]

In [7]:
baskets_sets_bool = baskets_sets.astype(bool)
apriori(baskets_sets_bool, min_support=0.02)

      support         itemsets
0    0.028155              (1)
1    0.054369              (8)
2    0.032039              (9)
3    0.027508             (10)
4    0.072492             (11)
..        ...              ...
105  0.022977       (154, 163)
106  0.033981       (162, 158)
107  0.055987       (162, 163)
108  0.022977  (121, 162, 101)
109  0.022977  (162, 163, 101)

[110 rows x 2 columns]

In [8]:
baskets_sets_bool = baskets_sets.astype(bool)
apriori(baskets_sets_bool, min_support=0.02, use_colnames=True)

      support                                         itemsets
0    0.028155                                       (UHT-milk)
1    0.054369                                           (beef)
2    0.032039                                        (berries)
3    0.027508                                      (beverages)
4    0.072492                                   (bottled beer)
..        ...                                              ...
105  0.022977                         (yogurt, tropical fruit)
106  0.033981                 (whole milk, whipped/sour cream)
107  0.055987                             (whole milk, yogurt)
108  0.022977  (whole milk, root vegetables, other vegetables)
109  0.022977           (whole milk, yogurt, other vegetables)

[110 rows x 2 columns]

In [12]:
df_combo = baskets_sets.astype(bool)

frequent_itemsets = apriori(df_combo, min_support=0.002, use_colnames=True)

frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))

frequent_itemsets

       support                                           itemsets  length
0     0.007120                            (Instant food products)       1
1     0.028155                                         (UHT-milk)       1
2     0.002913                                 (abrasive cleaner)       1
3     0.003560                                 (artif. sweetener)       1
4     0.014887                                    (baking powder)       1
...        ...                                                ...     ...
2313  0.002265  (citrus fruit, yogurt, other vegetables, whole...       5
2314  0.002589  (citrus fruit, yogurt, whipped/sour cream, oth...       5
2315  0.002265  (pip fruit, yogurt, whipped/sour cream, other ...       5
2316  0.002265  (yogurt, other vegetables, whole milk, root ve...       5
2317  0.002265  (yogurt, whipped/sour cream, other vegetables,...       5

[2318 rows x 3 columns]

In [13]:
frequent_itemsets[(frequent_itemsets['length']>=3)]

       support                                           itemsets  length
1260  0.002589        (UHT-milk, other vegetables, bottled water)       3
1261  0.002265                    (UHT-milk, soda, bottled water)       3
1262  0.002589      (whole milk, baking powder, other vegetables)       3
1263  0.002265    (whole milk, whipped/sour cream, baking powder)       3
1264  0.002589                        (whole milk, berries, beef)       3
...        ...                                                ...     ...
2313  0.002265  (citrus fruit, yogurt, other vegetables, whole...       5
2314  0.002589  (citrus fruit, yogurt, whipped/sour cream, oth...       5
2315  0.002265  (pip fruit, yogurt, whipped/sour cream, other ...       5
2316  0.002265  (yogurt, other vegetables, whole milk, root ve...       5
2317  0.002265  (yogurt, whipped/sour cream, other vegetables,...       5

[1058 rows x 3 columns]

In [14]:
rules = association_rules(frequent_itemsets, metric='confidence', min_threshold=0.9)
rules.head()

                        antecedents  ... zhangs_metric
0            (hamburger meat, curd)  ...      0.745779
1    (root vegetables, frozen fish)  ...      0.745054
2    (soda, sausage, bottled water)  ...      0.852452
3  (sausage, yogurt, bottled water)  ...      0.827801
4   (whole milk, pip fruit, butter)  ...      0.791004

[5 rows x 10 columns]

In [15]:
rules = association_rules(frequent_itemsets, metric='lift', min_threshold=1)
rules.head()

               antecedents              consequents  ...  conviction  zhangs_metric
0  (Instant food products)       (other vegetables)  ...    1.184250       0.397653
1       (other vegetables)  (Instant food products)  ...    1.004700       0.488978
2        (root vegetables)  (Instant food products)  ...    1.013752       0.735065
3  (Instant food products)        (root vegetables)  ...    1.305286       0.658875
4               (UHT-milk)          (bottled water)  ...    1.153108       0.527772

[5 rows x 10 columns]

In [18]:
rules[(rules['lift']>=5) & (rules['confidence']>= 0.8)]

                                          antecedents  ... zhangs_metric
7111                   (soda, sausage, bottled water)  ...      0.852452
7113                 (sausage, yogurt, bottled water)  ...      0.827801
7377               (canned beer, sausage, rolls/buns)  ...      0.907667
8132  (dessert, whipped/sour cream, other vegetables)  ...      0.848466
8187          (frankfurter, pastry, other vegetables)  ...      0.807331
8313               (hamburger meat, whole milk, pork)  ...      0.809539

[6 rows x 10 columns]